@CHARSET "ISO-8859-1";

body
{
	font-family:"Trebuchet MS";
	background-color:#0099CC;
}
div.header
{
	text-align:center;
	font-size:36px;
}
div.main
{
	margin:auto;
	width:800px;
	height:auto;
}

input.submitbutton
{
	display:block;
	border: 1px solid #336699;
	background-color:#66CCFF;
	height:35px;
	width:80px;
}
input.submitbutton:hover
{
	display:block;
	border: 2px solid #336699;
	background-color:#66CCFF;
	height:35px;
	width:80px;
}